.body {
	/*overflow:hidden;*/
	background:url('../img/bg_lines.png') repeat;
	background-color:#EDEDED;
	font-family:Arial;
	text-align:center;
	z-index:1;
}


/* Mark button */

.mark_btn{
	cursor:pointer;
	z-index:2;
	-moz-box-shadow:  3px 3px 5px 0px #000;
	-webkit-box-shadow:  3px 3px 5px 0px #000;
	box-shadow:  3px 3px 5px 0px #000;
	
}

.pressed{
	-moz-box-shadow: inset 3px 3px 5px 6px #000;/*for Firefox*/
	-webkit-box-shadow: inset 3px 3px 5px 6px #000;/*for Safari and Chrome*/
	box-shadow: inset 3px 3px 5px 6px #000;
	opacity:0.3;
	filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='1', MakeShadow='true', ShadowOpacity='0.40');/*for IE*/
}



.title {
	margin-top:24px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
	background: #111 url(../img/bar_gradient.png) top repeat-x;

}
.sub-title {
	text-align:center;
	color:#ffffff;
	font-size:small;
	height:50px;
	line-height:50px;
	font-size:30px;
}



.title img {
	width:55%;
}
.container {
	position:relative;
	width:960px; /* use jQuery to setup */
	height:auto;
	margin: 0px auto;
	z-index:1;
}

#content{
	width:100%;
	height:650px;
	max-width:100%;
	background-color:#ffffff;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	border-top-left-radius:10px;
	@border-bottom-left-radius:50px;
	@border-bottom-right-radius:70px;
	overflow: auto;
	z-index:1;
	position: relative;
	float:left;
}
.text{
	text-align:left;
	
}

#help{
	left:500px;
	float:right;
}

.tag{
	/*border:solid 1px #000;*/
}


.odd_col {
	background:#FFFAF0;	
}

.even_col{
	background:#FFF68F;
}
/*-------------------------------------- BOTTOM ---------------------------------------*/
.bot{
	margin-top:10%;
}
.bot a { color:#777; }
.bot a:hover { color:#444; }
.bot a:active { color:red;}


/*-------------------------- load box --------------------------*/

#load:hover {
	background-color:#FF0000;
	color:#FFF;
	
}
#load {
	/*padding:10px auto 10px auto;*/
	/*margin-left:5px;*/
	cursor:pointer;
	float:right;
	line-height:26px;
	background-color:#CCC;
	border:3px double transparent;
	color:#222;
	font-weight:bold;
	float:right;
}
/*------------------------- login ---------------------*/
#login:hover {
	background-color:#FF0000;
	color:#FFF;
}
#login {
	cursor:pointer;
	float:right;
	line-height:26px;
	background-color:#CCC;
	border:3px double transparent;
	color:#222;
	font-weight:bold;
	float:right;
	position:absolute;
	right:0px;
	bottom:0px;
}
.data_to_tagged{
	font-size:18px;
	float:left;
}
#prev{
	cursor: pointer;
	float:left;
	background:#BDB76B;
	margin: 10px 10px 10px 10px;
}
#prev:hover{
	background:#EEE8AA;
}
#next{
	cursor: pointer;
	float:left;
	background:#FAFAD2;
	margin: 10px 10px 10px 10px;
}#next:hover{
	background:#FFFF00;
}
#now_page{
	margin: 10px 10px 10px 10px;
	float:left;
	color:red;
}
#overall{
	display:none;
	float:right;
}
#article_title{
	float:left;
	font-weight:bolder;
}
#count{
	display:block;
	float:left;
}
#hidden{
	display:none;
}
.candidates{
	height:20px;
	background:red;
}

.login_page{
	background:#E7E2DA;
	
	float:center;
	width:250px;
	height:180px;
	padding-left:5px;
	padding-top:5px;
	border:solid 1px #ddd6cb ;
	margin: 0px auto;
	margin-top:5%;
	margin-bottom:30%;
}
.label{
	color:black;
	float:left;
	font-size:13px;
}
.top_label{
	color:gray;
	float:left;
	font-size:15px;
}
.area{
	float:left;
}
.submit{
	float:left;
	color:#ffffff;
	border:1px solid #3079ED;
	text-shadow:0 1px rgba(0, 0, 0, 0.1);
	background:#4787ED;
	border-radius: 5px;
	border-top-left-radius:5px;
	cursor:default;
}
.submit:hover{
	background:#3078eb;
	cursor:pointer;
}
.welcome{
	padding-top:10px;
	position: absolute; 
	top: 0;
	right:0;
}
a{
text-decoration:none;
color:white;
}
#showUsername{
	/*top:0;
	right:0;
	position:static;
	float:left;*/
	 position: fixed; 
    top: 0px;  
    right: 0px;
	padding: 0;
    margin: 0;
}
th{
	background:#3079ED;
	color:white;
}
.banner{
	color:#000000;
	cursor:default;
	width:auto;
	float:left;
	margin-left:10%;
}